{# Bootstrap 3 Checkbox #}
<div class="{{ classes.wrapper }}{% if error %} has-error{% endif %}" {{ wrapperAttributes|attributes|raw }}>
    <label>
        <input
            type="checkbox"
            {{ attributes|attributes|raw }}
            class="{{ classes.input }}"
            {% if value %}checked{% endif %}
        />
        {% if label %}
            {{ label }}
            {% if required %}<span class="text-danger">*</span>{% endif %}
        {% endif %}
    </label>

    {% if helpText %}
        <span class="{{ classes.help }}">{{ helpText }}</span>
    {% endif %}

    {% if error %}
        <span class="{{ classes.error }}">{{ error }}</span>
    {% endif %}
</div>
