{# Bootstrap 5 File Input #}
<div class="{{ classes.wrapper }}" {{ wrapperAttributes|attributes|raw }}>
    {% if label %}
        <label for="{{ attributes.id }}" class="{{ classes.label }}">
            {{ label }}
            {% if required %}<span class="text-danger">*</span>{% endif %}
        </label>
    {% endif %}

    <input
        type="file"
        {{ attributes|attributes|raw }}
        class="{{ classes.input }}"
    />

    {% if helpText %}
        <div class="{{ classes.help }}">{{ helpText }}</div>
    {% endif %}
</div>
